@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700;900&display=swap");
:root {
  --color-Very-Dark-Blue: hsl(243, 87%, 12%);
  --color-Desaturated-Blue: hsl(238, 22%, 44%);
  --color-Brigh-tBlue: hsl(224, 93%, 58%);
  --color-Moderate-Cyan: hsl(170, 45%, 43%);
  --color-Light-Grayish-Blue: hsl(240, 75%, 98%);
  --color-Light-Gray: hsl(0, 0%, 75%);
  --font-hedings-400: Raleway;
}
::selection {
  background-color: var(--color-Light-Gray);
}
ul {
  margin: 0;
  margin-block: 0;
  padding-inline: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
p {
  display: block;
  margin-block: 0em;
}
* {
  box-sizing: border-box;
  transition: 0.5s;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Open Sans";
  /* font-size: 16px; */
  transition: 0.5s;
}
/* heading style */
header {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
}
.logo,
.menu {
  width: 50%;
  height: 100%;
}
.logo img {
  padding-left: 4rem;
  padding-top: 2rem;
  width: 30%;
}
.menu {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4rem;
}
.menu nav ul li {
  display: inline;
  padding: 1rem 2rem 1rem 2rem;
  transition: 0.4s;
}
.menu nav ul li a {
  color: var(--color-Very-Dark-Blue);
  font-family: var(--font-hedings-400);
}
.menu nav ul li:hover {
  color: var(--color-Desaturated-Blue);
  box-shadow: 5px 5px 10px rgb(88 64 64 / 25%);
  /* transform: translateY(-15px); */
}

/* body style */
/* first section style */

.first {
  margin: 1rem 6rem 10rem 4rem;
  display: flex;
  justify-content: center;
}
.text {
  width: 55%;
  text-shadow: 0px 0px 1.4px var(--color-Very-Dark-Blue);
}
.image {
  width: 45%;
}
.title {
  color: var(--color-Very-Dark-Blue);
  margin-top: 2.7rem;
  max-width: 90%;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}
.description {
  color: var(--color-Very-Dark-Blue);
  max-width: 88%;
  line-height: 1.7rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 1.1rem;
  margin-bottom: 1rem;
}
.enroll {
  max-width: 80%;
}
#entries {
  width: 55%;
  height: 2.5rem;
  margin-right: 1rem;
  padding: 1rem;
  border: 0.001px solid #929191;
  border-radius: 5px;
}
#entries,
#entries2:focus {
  outline: none;
  border: 0.1px solid #929191;
}
#error-email {
  font-size: 0.8rem;
  margin: 0.2rem 0rem;
  color: #b93232;
  text-shadow: none;
}
.enroll #entries:invalid,
#entries2:invalid {
  background-color: #f19e9e;
  font-size: 1rem;
  padding: 1rem;
  border: 0.001px solid #b93232;
}
/* .enroll::after{
  content: attr(data-error);
  font-size: .8rem;
  margin: 3rem 0rem;
  color: #b93232;
  text-shadow: none;
} */
#star {
  background-color: var(--color-Brigh-tBlue);
  border: none;
  padding: 0.7rem 4.1rem;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}
#star:hover,
#star:focus {
  background-color: hsl(224, 93%, 77%);
  box-shadow: 5px 5px 10px rgba(88, 64, 64, 0.247);
  transform: translateY(-5px);
}
.image {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.image img {
  width: 100%;
}
/* second section */
.second {
  width: 100%;
  background-color: #f8f8fe;
}
.circle {
  margin-bottom: -1rem;
}
.circle {
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  justify-content: center;
  padding: 2rem 6rem 9rem 4rem;
}
.text2 {
  width: 60%;
  text-shadow: 0px 0px 1.4px var(--color-Very-Dark-Blue);
}
.image2 {
  width: 40%;
}
.title2 {
  color: var(--color-Very-Dark-Blue);
  max-width: 100%;
  margin-top: 2.7rem;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  font-family: var(--font-hedings-400);
  font-weight: 700;
}
.description2,
.description3 {
  color: var(--color-Very-Dark-Blue);
  max-width: 75%;
  line-height: 1.7rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 1.1rem;
  margin-bottom: 1rem;
}

.image2 img {
  width: 100%;
  padding-top: 4.9rem;
}
#link {
  color: var(--color-Moderate-Cyan);
  text-shadow: none;
  display: flex;
  transition: 0.4s;
}
#link span img {
  width: 1.2rem;
  margin-left: 0.2rem;
}
#link:hover {
  filter: opacity(0.6);
}
.tweet {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  max-width: 47%;
  height: 15rem;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 14px 3px rgb(88 64 64 / 25%);
}
.quat-container {
  margin: 2rem;
}
.quat-icon {
  margin-bottom: 0.5rem;
}
.quat-icon img {
  width: 1rem;
}
.quates {
  color: var(--color-Very-Dark-Blue);
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.user-container {
  max-width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  text-shadow: none;
}
.user-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.user-image img {
  width: 100%;
  border-radius: 50%;
}
.user-name {
  color: var(--color-Very-Dark-Blue);
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-weight: 800;
}
.user-name span {
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--color-Light-Gray);
}
/* third-section */
.third {
  width: 100%;
  background-color: var(--color-Desaturated-Blue);
}
.third-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 6rem 3rem 4rem;
}
.text3 {
  width: 50%;
}
.enroll2 {
  width: 37%;
}
.title3 {
  color: #ffffff;
  max-width: 100%;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: var(--font-hedings-400);
  font-weight: 700;
}
.description4 {
  max-width: 90%;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #ffffff;
}
.enroll2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: flex-start;
}
#entries2 {
  width: 100%;
  height: 2.5rem;
  margin-right: 1rem;
  margin-bottom: 0.1rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}
#star2 {
  background-color: var(--color-Brigh-tBlue);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}
#star2:hover,
#star2:focus {
  background-color: hsl(224, 93%, 77%);
  box-shadow: 5px 5px 10px rgba(88, 64, 64, 0.247);
  transform: translateY(-5px);
}

/* fourth section */
.fourth {
  width: 100%;
  background-color: var(--color-Very-Dark-Blue);
  padding-bottom: 5.5rem;
}
.fourth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem 6rem 0rem 4rem;
}
.logo2 {
  display: flex;
  justify-content: flex-start;
  margin: 6rem 6rem 3rem 0rem;
}
.logo2 img {
  filter: invert(20%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%)
    contrast(80%);
}
.footer-nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: center;
}
.nav-1,
.nav-2,
.nav-3,
.nav-4 {
  width: 20%;
  text-align: left;
}
.nav-1 ul li,
.nav-2 ul li,
.nav-3 ul li,
.nav-4 ul li {
  list-style: none;
  margin-bottom: 1rem;
  padding-left: 8rem;
  color: #ffffff;
  transition: 0.5s;
}
.nav-1 ul li img,
p {
  margin-right: 1rem;
  display: inline-block;
}
.nav-1 ul li {
  padding-left: 0rem !important;
}
.nav-2 ul li,
.nav-3 ul li,
.nav-4 ul li {
  text-align: left;
}
.nav-4 ul li {
  display: inline;
  margin-right: 0rem;
  padding-left: 0rem !important;
  transition: 0.5s;
}
.nav-4 ul li img {
  padding: 0.5rem;
  border: 0.2rem solid #000000;
  border-radius: 50%;
  filter: invert(1);
}
.nav-4 ul li a {
  text-decoration: none;
}
.nav-4 ul li:hover {
  filter: opacity(0.4);
}
.nav-1 ul li a,
.nav-2 ul li a,
.nav-3 ul li a,
.nav-4 ul li a {
  color: white;
}
.nav-1 ul li a:hover,
.nav-2 ul li a:hover,
.nav-3 ul li a:hover,
.nav-4 ul li a:hover {
  color: var(--color-Desaturated-Blue);
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
  .menu nav ul li {
    padding: 0rem 1rem 1rem 0rem;
  }
  .logo img {
    padding-top: 3rem;
    width: 65%;
  }
  .first {
    margin: 1rem 6rem 10rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text {
    width: 100%;
    text-align: center;
    order: 2;
  }
  .image {
    width: 95%;
    order: 1;
  }
  .title {
    max-width: 100%;
    font-size: 2.3rem;
  }
  .description {
    max-width: 100%;
  }
  .enroll {
    max-width: 100%;
  }
}
